@charset "UTF-8"

html {
  font-size: 100%;
}
body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", sans-serif;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  color: #2b2a27;
}

@media screen and (max-width: 834px) {
  
}
/* mainvisual */
#mainvisual img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 80px;
}
/* text */
.text {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 80px;
}
.text .site-title {
  margin-bottom: 20px;
}